extends layout

script(type='text/javascript' src='bam.js')

block content
    h1= title
    button#Start(
      type='submit'
      style='width: 250px; height: 250px; background-color: red;'
      onclick=start()
   )
   button#Stop(
     type='submit'
     onclick=stop()
   )
   button#reset(
     type='submit'
     onclick=reset()
  )
